body {
  background-color: #0b5ed7;
  min-height: 100vh;
}
.container .row img {
  max-width: 50%;
}
.row .nomer{
  text-decoration: none;
  display: none;

}
.text-blue{
  color:#0b5ed7 ;
}

.bg-op{
  background-color: rgba(255, 255, 255, 0.9);
}